.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: 3% 23%;
}

.comment-input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media(max-width:860px) {
  .comment-section {
    width: 83%;
    margin: 3% 10%;
  }
}
@media(max-width:480px){
  .comment-section {
    width: 92%;
      margin: 3% 5%;
  }
}