@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");
.communityContainer {
  width: 1000px;
  display: flex;
  gap: 3rem;
  font-family: "NanumSquareNeo", "Noto Serif SC", serif;
}

.comLeft {
  width: 20%;
  font-size: 1rem;
  margin-top: 2%;
}

.comRight {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
  font-size: 1rem;
}

.listLayout {
  display: flex;
  flex-direction: column;
}

.listLayout > div > h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

.categories {
  list-style-type: none;
  font-size: 1em;
}

.categories > li {
  margin-top: 4%;
  font-size: 1.2em;
}

.rightHeader {
  margin-top: 20px;
  margin-left: 3%;
  font-size: 2.1em;
  font-weight: bold;
}

.groupReviews {
  margin-top: 3%;
}

.card {
  width: 100%;
  margin-bottom: 10px;
  border-width: 0;
  border-radius: 0;
  border-bottom: 1px solid #a9aab0;
}

.cardReview {
  width: 100%;
  margin-bottom: 15px;
}

.cardNotice {
  width: 100%;
  background-color: azure;
  border-width: 0;
  border-radius: 0;
  border-top: 1px solid #a9aab0;
  border-bottom: 1px solid #a9aab0;
}

.sharpCommunity {
  padding-right: 10px;
  color: grey;
}

.likeComment {
  display: flex;
  align-items: center;
}

.dateNpostID {
  display: flex;
  color: grey;
  font-size: 12px;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1200px) {
  .communityContainer {
    width: 75%;
  }
}

@media (max-width: 936px) {
  .communityContainer {
    flex-direction: column;
    gap: 0;
  }

  .comLeft {
    width: 100%;
  }

  .comRight {
    font-size: 0.9rem;
  }

  .categories {
    padding-left: 0;
    display: flex;
    column-gap: 0.8rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .rightHeader {
    text-align: center;
  }
}
@media (max-width: 580px) {
  .communityContainer {
    width: 85%;
    /* padding: 0 5%; */
  }
}

.Card.Text {
  white-space: pre-line;
}
.courseReviewHeader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.reviewCard {
  margin: 35px auto;
  width: 1000px;
  font-family: "NanumSquareNeo", "Noto Serif SC", serif;
}
.courseName {
  font-family: "NanumSquareNeo", "Noto Serif SC", serif;
}

.showMoreButton {
  background-color: transparent;
}
.showMoreButton > img {
  width: 20px;
  height: 20px;
}
.reviewButtons {
  display: flex;
  flex-direction: column;
}
.reviewChangeDelete {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.hiddenReviewChangeDelete {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.editButtons {
  position: absolute;
  top: 86%;
  right: 15px;
}
.divider {
  position: relative;
}
.likeButton {
  border: 1px solid #a9aab0;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 2px 15px;
}
.onLikeButton {
  border: 1px solid #588769;
  background-color: #edf7f2;
  border-radius: 15px;
  padding: 2px 15px;
}
.likeCount {
  color: #588769;
}
.likeBasic {
  color: black;
}

.sharp {
  padding-left: 5px;
  padding-right: 10px;
  color: grey;
  font-size: 15px;
}

.date {
  color: grey;
  font-size: 15px;
}

@media (max-width: 1120px) {
  .reviewCard {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 90%;
  }
}

@media (max-width: 700px) {
  .courseReviewHeader {
    flex-direction: column;
    align-items: center;
  }
}

.userInfoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.userInfoTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.userInfoTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
