@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
.communityContainer {
    width: 100%;
    display: flex;
    gap: 3rem;
    padding: 0 15%;
    font-family: 'NanumSquareNeo-Variable','Noto Serif SC', serif;
}

.comLeft {
    width: 30%;
    font-size: 1rem;
    margin-top: 2%;
}

.comRight {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    font-size: 1rem;
}

.listLayout>div>h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

.categories {
    list-style-type: none;
    margin-top: 10%;
    font-size: 1em;
}

.categories>li {
    margin-top: 4%;
    font-size: 1.2em;
}

.rightHeader {
    margin-top: 20px;
    margin-left: 3%;
    font-size: 2.1em;
    font-weight: bold;
}

.groupReviews {
    margin-top: 3%;

}

.card {
    width: 100%;
    margin-bottom: 30px;
    border-width: 0;
    border-radius: 0;
    border-bottom: 1px solid #a9aab0;
}

.sharp {
    position: absolute;
    bottom: 7px;
    left: 15px;
    color: grey;
}

.likeComment {
    position: absolute;
    bottom: 10px;
    right: 15px;
    display: flex;
    align-items: center;
}

.date {
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: grey;
    font-size: 12px;
}

@media(max-width:936px) {
    .communityContainer {
        flex-direction: column;
        gap: 0;
    }

    .comLeft {
        width: 100%;
    }

    .comRight {
        font-size: .9rem;
    }

    .categories {
        padding-left: 0;
        display: flex;
        column-gap: 0.8rem;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .rightHeader {
        text-align: center;
    }
    .date{
        bottom: 7px;
    }
}
@media(max-width:580px){
    .communityContainer {
        padding: 0 5%;
    }
    .date{
        left: 50px;
    }
}