@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
.communityContainer {
    width: 1000px;
    display: flex;
    gap: 3rem;
    font-family: 'NanumSquareNeo-Variable','Noto Serif SC', serif;
}

.comLeft {
    width: 20%;
    font-size: 1rem;
    margin-top: 2%;
}

.comRight {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    font-size: 1rem;
}

.listLayout{
    display: flex;
    flex-direction: column;
}

.listLayout>div>h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

.categories {
    list-style-type: none;
    font-size: 1em;
}

.categories>li {
    margin-top: 4%;
    font-size: 1.2em;
}

.rightHeader {
    margin-top: 20px;
    margin-left: 3%;
    font-size: 2.1em;
    font-weight: bold;
}

.groupReviews {
    margin-top: 3%;

}

.card {
    width: 100%;
    margin-bottom: 10px;
    border-width: 0;
    border-radius: 0;
    border-bottom: 1px solid #a9aab0;
}

.cardNotice {
    width: 100%;
    background-color:azure;
    border-width: 0;
    border-radius: 0;
    border-top: 1px solid #a9aab0;
    border-bottom: 1px solid #a9aab0;
}

.sharp {
    padding-right: 10px;
    color: grey;
}

.likeComment {
    display: flex;
    align-items: center;
}

.dateNpostID {
    display: flex;
    color: grey;
    font-size: 12px;
    justify-content: space-between;
    align-items: flex-end;
}

@media(max-width:1200px){
    .communityContainer{
        width: 75%;
    }
}

@media(max-width:936px) {
    .communityContainer {
        flex-direction: column;
        gap: 0;
    }

    .comLeft {
        width: 100%;
    }

    .comRight {
        font-size: .9rem;
    }

    .categories {
        padding-left: 0;
        display: flex;
        column-gap: 0.8rem;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .rightHeader {
        text-align: center;
    }
}
@media(max-width:580px){
    .communityContainer {
        width: 85%;
        /* padding: 0 5%; */
    }
}