.aboutContainer {
    font-size: 10px;
    margin: 10px 18%;
}

.title {
    text-align: center;
    margin-top: 2em;
}

.title>h1 {
    font-size: 4em;
    font-weight: bold;
    color: #7AB68D;
}

.title>div {
    font-size: 3em;
}

.veryGood {
    height: 8em;
}

.aboutContent {
    font-size: 1.8em;
    text-align: center;
}

@media (max-width:1024px) {
    .aboutContainer {
        font-size: 8px;
    }
}

@media (max-width:768px) {
    .aboutContainer {
        margin: 10px 10%;
    }

    .title>div {
        font-size: 2em;
    }

    .veryGood {
        height: 5em;
    }
}