.CourseListContainer {
  width: 1000px;
  display: flex;
  gap: 3rem;
}

.CourseListRight {
  width: 100%;
  font-size: 1rem;
}

.rightHeader {
  display: flex;
  justify-content: space-between;
  margin: 2% 2%;
  align-items: center;
}
.rightTitle {
  font-size: 2.1em;
  font-weight: bold;
}
.openRightTitle {
  font-size: 2.1em;
  font-weight: bold;
  padding-bottom: 200px;
}
.majorGroupReviews {
  margin-top: 3%;
}
.majorGroupReviews > a > div {
  margin-top: 2%;
  border-bottom: 1px solid #a9aab0;
}
.groupReviews {
  margin-top: 3%;
}
.groupReviews > a > div {
  margin-top: 2%;
  border-bottom: 1px solid #a9aab0;
}

/* 카테고리별 리뷰 */
.groupReviews {
  height: 0;
  overflow: hidden;
}
/* 전공별 리뷰 */
.majorGroupReviews {
  height: 0;
  overflow: hidden;
}
.myReviews > .groupReviews {
  height: 0;
  overflow: hidden;
}
.myReviews > .majorGroupReviews {
  height: auto;
}
.myMajorReviews > .groupReviews {
  height: auto;
}
.myMajorReviews > .majorGroupReviews {
  height: 0;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .CourseListContainer {
    width: 75%;
  }
}

@media (max-width: 936px) {
  .CourseListContainer {
    flex-direction: column;
    gap: 0;
  }
  .CourseListLeft {
    width: 100%;
  }
  .CourseListRight {
    font-size: 0.9rem;
  }

  .rightHeader {
    flex-direction: column;
    margin-bottom: 10%;
  }
  .openRightTitle {
    padding-bottom: 0;
  }
}
@media (max-width: 580px) {
  .CourseListContainer {
    width: 85%;
  }
}
