@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
.container {
  font-family: 'NanumSquareNeo-Variable','Noto Serif SC', serif;
    width: 90%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  