@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

html,
body {
  margin: 0;
  font-family: "NanumSquareNeo","Noto Serif SC", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
}

.nav-link {
  color: black !important;
}

.navLink {
  color: black !important;
  width: 80px !important;
}

.nav-link:enabled {
  color: black !important;
}

.btn-primary:enabled {
  background-color: #43a680 !important;
  border-color: #43a680 !important;
  color: white !important;
}
