@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
}
html,
body {
  margin: 0;
  font-family: "NanumSquareNeo-Variable", "Noto Serif SC", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100% !important;
}

.nav-link {
  color: black !important;
}

.navLink {
  color: black !important;
  width: 80px !important;
}

.nav-link:enabled {
  color: black !important;
}
