.CourseListLeft{
    width: 20%;
    font-size: 1rem;
    margin-top: 2%;
}

.listLayout>div>h2{
    
    font-size: 1.5em;
    font-weight: bolder;
}
.listLayout>div>h2>a{
    float: right;
}

.categories{
    list-style-type: none;
    padding-left: 5%;
}
.categories>li{
    
    margin-top: 4%;
    font-size: 1.2em;
}

@media(max-width:936px){
    .categories{
        padding-left: 0;
        display: flex;
        column-gap: 0.8rem;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}