.bubbleImg {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 15px;
  max-width: 85vw;
  height: auto;
  object-fit: fill;
}

.bubbleText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
